@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
body {background-color:#ffffe0;}
::selection, ::-moz-selection {background: #7cfc00;}
.startpage p, h1, h2, h3, footer, li {font-family: Arial, Helvetica, sans-serif;}
h1, h2, h3 {color:#ff7f50}
p, h1, h2, footer, h3, li, a {text-align: center;}
footer {font-size: x-small; text-align: center;}
.lista li {text-align: left;}
.horizontal-navigator nav ul {list-style: none; margin: 0; padding: 0; text-align: center;}
.horizontal-navigator nav li {display: inline-block;  background: #ffe4c4;}
.horizontal-navigator nav a {display: block; text-decoration: none; color: #800000; padding: 5px 10px;}
.horizontal-navigator nav a:hover {background-color: #ff7f50; color: #ffffff;}
.namnrubrik{color:#ff7f50; text-align: center; font-family: 'Bungee Spice', cursive; font-size:60px;}
.center { text-align: center;}
.boxed {width: 420px; border: 10px solid #ff7f50; padding: 20px; margin: auto; background-color: #ffe4c4;}
.portfolio img {max-height: 378px; width: auto;}
.change-display {display:inline-block}
.image-display-horizontal ul {display:flex;  justify-content: space-between; gap: 0px; list-style: none; margin: 0; padding: 0; text-align: center;}
.image-display-horizontal li {flex:1; text-align: center; background-color: #ffe4c4;}
.git-link a:link{text-decoration:none; color:#800000; background-color: #ffe4c4;}
.git-link a:visited{color:#fff27d; background-color: rgb(255, 160, 160);}
.git-link a:hover{color: #ffffff; background-color: #ff7f50;}
.git-link a:active{color:#000000; background-color: #6fdd00;}
.git-link { font-family: Arial, Helvetica, sans-serif; font-size: x-large;}
